<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EcoMartConnectionString" connectionString=""/>
	  <add name="EcoMartAzureConnectionString" connectionString="ckyVJzzhDSSg7NIp9ynC74hA9/xeea4Gx+2aYLjmtCCy5xaUxatMi+welGANnzFEC7XcdLsEXgKlaKJI4ddgSsDypTASmBcxM+D+hm1qiPGnEXCbfi9dHjlLwIlBShB/2PJl/5J9zvTslH+jswQpE+lpNDujPJwGFKSLWjXFN5H+jLM9qfWuuXdutIaZqk1G" />
  </connectionStrings>
  <appSettings>
    <add key="DBServerPath" value="C:\Program Files\MySQL\MySQL Server 5.6"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>   
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Services" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
