<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PharmaSysRetailPlusConnectionString" connectionString="deE45x6Z5Xrs6dNVSBwUaXC0vVyYCRUHb6gwaqoLWy9A8FAg7JM7Gd9Gog5q44sxwTDM+5VTj/juvdW0ae5ustZ/bAxaWkea7Rx8VCLfG1c=/us/WP8NhsxF037wF0XuY=" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8675/PharmaSYSRetailPlusService"
        binding="netTcpBinding" bindingConfiguration="ActiveBinding"
        contract="ServiceReference1.IRetailPlusService" name="NetTcpBinding_IRetailPlusService" behaviorConfiguration="endpointBehavior">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="ActiveBinding" closeTimeout="00:02:00" openTimeout="00:02:00"
          receiveTimeout="00:10:00" sendTimeout="00:02:00" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="20:00:00"
            enabled="false" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>